


body {
    box-sizing: border-box;
    background-color: rgba(27,149,224,.125);
    margin-top: 0;
    margin-bottom: 0;
}
.headline_class ul {
    list-style: none;
}
.experience_class ul {
    list-style: none;
}
p {
    text-indent: 1em;
}
table, tr, td {
    text-align: center;
    border: 2px solid rgba(27,149,224,.250);
    border-collapse: collapse;
}
th {
    background-color: rgb(27,149,224,.150);
}
hr {
    height: 1px;
    background-color: rgba(27,149,224,.250);
    border: none;
} 
       

